@* Shared/NavMenu.razor *@
<nav class="bg-gray-800 text-white p-4">
    <div class="container mx-auto">
        <ul class="flex space-x-4">
            <li>
                <NavLink class="hover:underline" href="/" Match="NavLinkMatch.All">Home</NavLink>
            </li>
            <li>
                <NavLink class="hover:underline" href="/books">Books</NavLink>
            </li>
            <li>
                <NavLink class="hover:underline" href="/users">Users</NavLink>
            </li>
            <li>
                <NavLink class="hover:underline" href="/borrow">Borrow Book</NavLink>
            </li>
            <li>
                <NavLink class="hover:underline" href="/return">Return Book</NavLink>
            </li>
        </ul>
    </div>
</nav>
